body {
    height: 100%;
}

.wrap {
    height: 100%;
    background: url(../../assets/image/youxi_di.jpg) center no-repeat;
    background-size: 100%;
}

.me-body {
    padding: 0 0.2rem;
}

.me-item {
    background: #fff;
    border-radius: 6px;
    margin-bottom: 0.3rem;
}

.me-item ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.me-item ul li {
    font-size: 0.38rem;
    text-align: center;
    padding: 0.2rem 0;
}

.me-item ul li a {
    color: #343434;
}

.me-item ul li img {
    width: 0.86rem;
    height: 0.86rem;
    display: inline-block;
}

.me-item ul li p {
    display: block;
    line-height: 1;
}

.me-four-item ul li {
    width: 25%;
}

.me-three-item ul li {
    width: 33%;
}