.wrap {
    height: 100%;
    background: #f0e9df;
}

.takeout-one {
    padding: 0.2rem;
}

.takeout-one-box {
    height: 1.5rem;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.25rem;
    border-radius: 6px;
}

.takeout-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.takeout-one-icon {
    width: 0.86rem;
    height: 0.86rem;
    background: url(./img/zhongxinqianbao.png) center no-repeat;
    background-size: 100%;
    margin-right: 0.2rem;
}

.takeout-one-icon2 {
    width: 0.86rem;
    height: 0.86rem;
    background: url(./img/zongyue.png) center no-repeat;
    background-size: 100%;
    margin-right: 0.2rem;
}

.takeout-one-text b {
    font-weight: normal;
    color: #e6a23c;
}

.takeout-addbank {
    padding: 0 0.2rem;
    height: 0.84rem;
    line-height: 0.84rem;
    background: #d0b565;
    border-radius: 6px;
    font-size: 0.38rem;
    text-align: center;
}

.takeout-addbank a {
    color: #fff;
}

.takeout-refurbish {
    padding: 0 0.2rem;
    height: 0.84rem;
    line-height: 0.84rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 0.38rem;
    color: #333;
    text-align: center;
}

.takeout-two {
    background: #fff;
    padding: 0.2rem 0;
    margin-bottom: 0.2rem;
}

.takeout-two ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.takeout-two ul li {
    width: 25%;
    text-align: center;
    border-bottom: 1px solid #eee;
    padding: 0.2rem 0;
}

.takeout-two ul li label {
    display: block;
}

.takeout-two ul li span {
    color: #e6a23c;
}

.pay-base-item {
    height: 0.96rem;
    background: #fff;
    font-size: 0.38rem;
    color: #333;
    font-weight: normal;
    padding: 0 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}


/* .pay-allbank-icon {
    padding: 0.43rem;
    background: url(./img/yhk.png) center no-repeat;
    background-size: 100%;
    margin-right: 0.2rem;
} */

.pay-hand-two {
    background: #fff;
}

.pay-base-item {
    height: 0.96rem;
    background: #fff;
    font-size: 0.38rem;
    color: #333;
    font-weight: normal;
    padding: 0 0.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.pay-hand-money {
    height: 0.96rem;
    background: #fff;
    font-size: 0.38rem;
    color: #333;
    font-weight: normal;
    padding: 0 0.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weui-cell:before {
    border: none;
}

.pay-hand-three {
    display: flex;
    justify-content: space-between;
    padding: 0 0.4rem;
}

.pay-hand-three span {
    width: 1.6rem;
    height: 0.84rem;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.38rem;
    color: #333;
}

.pay-hand-three span.on {
    background: #e6a23c;
    color: #fff;
}

.pay-go {
    padding: 0 0.4rem;
}

.pay-go span {
    display: flex;
    height: 1rem;
    background: #e6a23c;
    border-radius: 6px;
    font-size: 0.42rem;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.pay-bank-icon {
    padding: 0.43rem;
    background: url(./img/tongdao1.png) center no-repeat;
    background-size: 70%;
}

.remit-type {
    padding: 0 0.2rem;
}

.active .pay-bank-icon {
    padding: 0.43rem;
    background: url(./img/tongdao2.png) center no-repeat;
    background-size: 70%;
}

.remit-type {
    background: #fff;
    padding: 0.4rem 0.2rem;
}

.remit-flex {
    display: flex;
    justify-content: flex-start;
}

.remit-zz {
    padding: 0 0.2rem;
    margin-bottom: 0.2rem;
}

.pay-base-item span {
    color: #999;
}

.pay-base-item span i {
    margin-right: 0.2rem;
}

.pay-base-item span i,
.pay-base-item span em {
    color: #333;
}